<html>

  <!-- Come on in, the waters fine! (kinda) -->

  <head>
    <link href="css/app.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <script src="libs/vue3.js"></script>
    <script src="libs/vue-router.js"></script>
    <title>TOOTDECK</title>
  </head>

  <body>

    <div id="app">

      <!-- Add Community Popup -->
      <table class="td-fw" v-if="popup.add">
        <tr>
          <td>
            <div class="td-popup--splash" v-on:click="popup.add = false"></div>
            <div class="td-popup" style="padding: 0px" v-on:click.stop="">
              <p style="padding: 16px 16px 0 16px">
                Here's some common communities that might interest you!
              </p>
              <br/>
              <div class="td-communities">
                <div v-for="c in $root.communities" class="td-communities__item">
                  <div v-bind:style="{'background-image': 'url(' + c.thumbnail + ')' }"></div>
                  <h2>{{ c.uri }}</h2>
                  <p>{{ c._short }}</p>
                  <button class="td-button" v-on:click="$root.addApp(c.uri)">
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
              </div>
              <p style="padding: 16px">
                Or if you'd like you can add a different instance below - if you're not sure where to start, you can find a list of popular communities <a href="https://joinmastodon.org/communities" target="_blank">here</a>.
                <br/><br/>
                <input style="margin-right: 10px; width: calc(100% - 42px);" class="td-input" v-model="$root.instance" placeholder="Enter a Mastodon URL..."/>
                <button class="td-button--icon" v-on:click="$root.addApp()">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </p>
            </div>
          </td>
        </tr>
      </table>

      <!-- Media Popup -->
      <table class="td-fw" v-if="popup.media">
        <tr>
          <td>
            <div class="td-popup--splash" v-on:click="popup.media = false"></div>
            <div class="td-popup full" v-on:click="popup.media = false">
              <div class="td-media" v-if="preview_media.type == 'image'" v-bind:data-sensitive="preview_media.sensitive" v-bind:style="{ 'background-image': 'url(' + preview_media.url + ')' }"></div>
              <video data-type="audio" v-if="preview_media.type == 'audio'" controls>
                <source v-bind:src="preview_media.url">
              </video>
              <video data-type="gif" v-if="preview_media.type.indexOf('gif') != -1" autoplay loop>
                <source v-bind:src="preview_media.url">
              </video>
            </div>
          </td>
        </tr>
      </table>

      <!-- Community List  -->
      <div v-if="state != 'home'" class="td-sidebar">
        <div class="td-sidebar--buttons">
          <button class="td-button blue" v-on:click="popup.add = true">Add Community</button>
        </div>
        <div class="td-sidebar--header">
          My Communities
          <span v-on:click="edit.communities = !edit.communities"><i class="fa-solid fa-pencil"></i></span>
        </div>
        <ul class="td-sidebar--menu">
          <li v-for="(a, key) in authenticatedApps" v-bind:data-selected="a.name == community" v-on:click="loadFeed(a, key)">
            <div>
              {{ a.name }}
              <span v-if="!edit.communities && notifications[key]" class="td-notifications">
                <i class="fa-solid fa-bell"></i>&nbsp;{{ notifications[key].length }}
              </span>
              <button class="td-button--icon red" v-if="edit.communities" v-on:click="removeApp(key)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
            <ul v-if="a.name == community && !edit.communities">
              <li v-bind:data-selected="feed_type == 'home'" v-on:click="feed_type = 'home'; setFeed()">
                <i class="fa-solid fa-user-group"></i>&nbsp;Following
              </li>
              <li v-bind:data-selected="feed_type == 'public'" v-on:click="feed_type = 'public'; setFeed()">
                <i class="fa-solid fa-house"></i>&nbsp;Public
              </li>
              <li v-bind:data-selected="feed_type == 'global'" v-on:click="feed_type = 'global'; $setFeed()">
                <i class="fa-solid fa-globe"></i>&nbsp;Federated
              </li>
            </ul>
          </li>
        </ul>
        <div class="td-sidebar--header">
          Public Communities
          <span v-on:click="edit.public = !edit.public"><i class="fa-solid fa-pencil"></i></span>
        </div>
        <ul class="td-sidebar--menu">
          <li v-for="(a, key) in unAuthenticatedApps" v-bind:data-selected="a.name == community" v-on:click="loadFeed(a, key)">
            {{ a.name }}
            <button class="td-button--icon red" v-if="edit.public" v-on:click="removeApp(key)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </li>
        </ul>
      </div>

      <!-- Top bar -->
      <div v-if="state != 'home'" class="td-header">
        <div class="td-wrap">
          <div v-on:click="popup.info = true" class="td-header--logo">
            <img src="/logo.png" title="TOOTDECK"/>
          </div>
          <img v-if="app.user_token != null" v-on:click="viewProfile(me)" class="td-header--icon" v-bind:src="me.avatar"/>
          <button v-if="notifications[url]" v-bind:class="{ 'blue' : notifications[url].length > 0 }" v-if="app.user_token != null" class="td-button">
            <i class="fa-solid fa-bell"></i>&nbsp;{{ notifications[url].length }}
          </button>
          <input v-if="app.user_token != null" class="td-input td-header--search" placeholder="Search..."/>
        </div>
      </div>

      <!-- Content -->
      <div class="td-content">
        <!--<span class="td-content--back" v-if="last_page != null" v-on:click="goBack()">
          Go Back
        </span>-->
        <router-view></router-view>
      </div>

    </div>
    
    <!-- Home Page -->
    <template id="home-page">
      <div class="td-splash"></div>
      <table class="td-fw">
        <tr>
          <td>
            <div class="td-popup" style="padding: 0px;">
              <p style="padding: 16px 16px 0 16px">
                Welcome to TootDeck, an <a href="" target="_blank">open source</a> web client for <a href="https://joinmastodon.org/" target="_blank">Mastodon</a> - a community owned ad-free social network.
                <br/><br/>
                To get started, pick a community below (you can change this later!)
              </p>
              <br/>
              <div class="td-communities">
                <div v-for="c in $root.communities" class="td-communities__item">
                  <div v-bind:style="{'background-image': 'url(' + c.thumbnail + ')' }"></div>
                  <h2>{{ c.uri }}</h2>
                  <p>{{ c._short }}</p>
                  <button class="td-button" v-on:click="$root.addApp(c.uri)">
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
              </div>
              <p style="padding: 16px">
                Or if you'd like you can add a different instance below - if you're not sure where to start, you can find a list of popular communities <a href="https://joinmastodon.org/communities" target="_blank">here</a>.
                <br/><br/>
                <input style="margin-right: 10px; width: calc(100% - 42px);" class="td-input" v-model="$root.instance" placeholder="Enter a Mastodon community, e.g. 'mastodon.art'"/>
                <button class="td-button--icon" v-on:click="$root.addApp()">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </p>
            </div>
          </td>
        </tr>
      </table>
    </template>
    
    <!-- About Page -->
    <template id="about-page">
      <div>About</div>
    </template>
    
    <!-- Toot Page -->
    <template id="toot-page">
      <div class="td-feed profile">
        <div class="td-feed--options">
          <td-profile :profile="$root.profile"></td-profile>
        </div>
        <div class="td-feed--post">
          <td-card v-if="$root.toot != null" :toot="$root.toot" :comment="false" :selected="true"></td-card>
        </div>
      </div>
    </template>
    
    <!-- Profile Page -->
    <template id="profile-page">
      <div class="td-feed profile">
        <div class="td-feed--options">
          <td-profile :profile="$root.profile"></td-profile>
        </div>
        <div v-if="$root.profile_toots.length > 0" class="td-feed--post" v-for="f in $root.profile_toots">
          <td-card :toot="f" comment="false"></td-card>
        </div>
        <div class="td-feed--more" v-if="$root.profile_toots.length > 0">
          <button class="td-button blue" v-on:click="$root.loadMoreProfile()">
            <span v-if="$root.loading.more == true">Loading more toots...</span>
            <span v-if="$root.loading.more != true">More toots pls</span>
          </button>
        </div>
      </div>
    </template>
    
    <!-- Search Page -->
    <template id="search-page">
      <div class="td-results">
        Search page here
      </div>
    </template>

    <!-- Feed Page -->
    <template id="feed-page">

      <table class="td-fw" v-if="$root.popup.authorize">
        <tr>
          <td>
            <div class="td-popup--splash" v-on:click="$root.popup.authorize = false"></div>
            <div class="td-popup" v-on:click.stop="">
              <p>
                Please authenticate TootDeck in the window that just opened!
                <br/><br/>
                Once done you'll be given an Authentication Code. Enter that below and you'll be good to go!
                <br/><br/>
                <input style="margin-right: 10px" v-model="$root.code" class="td-input"/>
                <button class="td-button blue"t v-on:click="$root.authUser()">Authenticate</button>
              </p>
            </div>
          </td>
        </tr>
      </table>

      <div class="td-feed">

        <div class="td-feed--options" v-if="!$root.errors.not_public">
          <div class="td-tooting" v-bind:class="{ 'full' : $root.app.user_token != null }">
            <div v-if="$root.app.user_token != null">
              <textarea style="margin-bottom: 10px; background: white" v-model="$root.status" class="td-textarea" placeholder="If an elephant toots in a forest and no one is around to hear it, does it make a sound?"></textarea>
              <button class="td-button blue" v-on:click="$root.sendToot()">Toot!</button>
            </div>
            <div v-if="$root.app.user_token == null">
              <p style="margin-bottom: 10px;">
                {{ $root.errors.not_public == true ? 'Feed not public.' : 'Viewing public feed.'  }}
                <br/><br/>
                {{ $root.errors.not_public == true ? 'Login to view feed!' : 'Login to interact with this community!'  }}
              </p>
              <button style="float: right" class="td-button blue" v-on:click="$root.loginUser()">Login</button>
            </div>
          </div>
          <div class="td-trends" v-if="$root.trends.length > 0">
            <h2>Trending</h2>
            <div v-for="t in $root.trends">
              <a v-on:click.stop="$root.searchTag(t.name)">#{{ t.name }}</a><span>{{ t.history[0].uses }}</span>
            </div>
          </div>
          <div class="td-announcements" v-if="$root.announcements.length > 0">
            <h2>Community Notices</h2>
            <div v-for="a in $root.announcements" v-html="a.content"></div>
          </div>
        </div>

        <div v-if="$root.errors.not_public" class="td-feed--message">
          <p>{{ $root.app.name }} does not have a public feed. You must create an account to view this community then authenticate it with TootDeck.</p><br/>
          <button class="td-button dark" v-on:click="$root.createAccount()">Create Account</button>
          <button class="td-button blue" v-on:click="$root.loginUser()" style="margin-left: 10px">Login</button>
        </div>

        <div class="td-loading" v-if="$root.loading.feed == true && !$root.errors.not_public">
          <p>Loading toots...</p>
        </div>
        
        <div class="td-loading" v-if="$root.toots.length == 0 && $root.loading.feed == false && $root.feed_type == 'home' && !$root.errors.not_public">
          You're not following anyone!
        </div>
        <div v-if="$root.toots.length > 0" class="td-feed--post" v-for="f in $root.toots">
          <td-card :toot="f" comment="false"></td-card>
        </div>
        <div class="td-feed--more" v-if="$root.toots.length > 0">
          <button class="td-button blue" v-on:click="$root.loadMore()">
            <span v-if="$root.loading.more == true">Loading more toots...</span>
            <span v-if="$root.loading.more != true">More toots pls</span>
          </button>
        </div>

      </div>

    </template>

    <!-- Toot Card Template -->
    <template id="td-card">
      <div>
        <div class="td-feed--comments" v-if="toot._comments_before && toot._comments_before.length > 0" >
          <td-card :toot="c" comment="true" v-for="c in toot._comments_before"></td-card>
        </div>
        <div v-if="!toot.reblog" class="td-feed--post_card" v-bind:data-full="selected" v-on:click="$root.viewToot(toot)">
          <div v-if="retoot" class="td-feed--post_retoot">
            <span v-html="$root.parseEmoji(retoot.display_name, retoot.emojis)"></span>
            &nbsp;<i class="fa-solid fa-retweet"></i>&nbsp;
            <span v-html="$root.parseEmoji(toot.account.display_name, toot.account.emojis)"></span></div>
          <img v-bind:src="toot.account.avatar"/>
          <h3 class="td-feed--post_author">
            <a v-on:click.stop="$root.viewProfile(toot.account)" v-html="$root.parseEmoji(toot.account.display_name, toot.account.emojis)"></a>
            <span v-on:click.stop="$root.viewProfile(toot.account)">({{ toot.account.acct }})</span>
          </h3>
          <div v-if="toot.sensitive == true && toot._view != true" class="td-feed--post_body">
            {{ toot.spoiler_text == '' ? 'Spoilers' : toot.spoiler_text }}<br/>
            <a v-on:click.stop="toot._view = true">Show Toot</a>
          </div>
          <div class="td-feed--post_del" v-if="toot.account.id == $root.me.id">
            <button class="td-button--icon red" v-on:click.stop="$root.deleteToot(toot)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
          <div v-if="toot.sensitive == false || toot._view == true" class="td-feed--post_body" v-html="$root.parseBody(toot)"></div>
          <div v-if="toot.media_attachments.length > 0" class="td-feed--post_attachments" v-bind:data-multiple="toot.media_attachments.length > 0">
            <span v-on:click.stop="$root.previewMedia(m)" v-for="m in toot.media_attachments" class="td-feed--post_attachment">
              <div v-on:click.stop="m._view = !m._view" class="td-content--flag" v-if="(m._view == null || m._view == false) && toot.sensitive == true">
                <table>
                  <tr><td>Show Sensitive Content</td></tr>
                </table>
              </div>
              <img v-bind:alt="m.description" v-if="m.type == 'image'" v-bind:data-sensitive="toot.sensitive && m._view != true" v-bind:src="m.url"/>
              <video data-type="audio" v-if="m.type == 'audio'" controls>
                <source v-bind:src="m.url">
              </video>
              <video data-type="gif" v-if="m.type.indexOf('gif') != -1" autoplay loop>
                <source v-bind:src="m.url">
              </video>
              <div v-if="m.description != null" class="td-content--alt">
                <p>ALT</p>
                <span>{{ m.description}}</span>
              </div>
            </span>
          </div>
          <div v-if="toot.card" class="td-feed--post_embed" v-html="toot.card.html"></div>
          <div class="td-feed--post_line"></div>
          <div class="td-feed--post_timestamp">
            Tooted {{ $root.formatDate(toot.created_at) }} 
            <span v-if="toot.application">
              <span v-if="toot.application.website">
                via <a v-on:click.stop="" v-bind:href="toot.application.website" target="_blank">{{ toot.application.name }}</a>
              </span>
              <span v-if="!toot.application.website">
                via {{ toot.application.name }}
              </span>
            </span>
          </div>
          <div class="td-feed--post_actions">
            <button v-bind:disabled="$root.app.user_token == null" v-bind:data-selected-c="toot._comment" v-on:click.stop="$root.setComment(toot)"><i class="fa-solid fa-comment"></i>&nbsp;{{ toot.replies_count }}</button>
            <button v-bind:disabled="$root.app.user_token == null" v-bind:data-selected-h="toot.reblogged" v-on:click.stop="$root.boostToot(toot)"><i class="fa-solid fa-retweet"></i>&nbsp;{{ toot.reblogs_count }}</button>
            <button v-bind:disabled="$root.app.user_token == null" v-bind:data-selected-h="toot.favourited" v-on:click.stop="$root.likeToot(toot)"><i class="fa-solid fa-heart"></i>&nbsp;{{ toot.favourites_count }}</button>
          </div>
          <div v-on:click.stop="" v-show="toot._comment == true" class="td-feed--post_comment">
            <textarea v-bind:id="'textarea-' + toot.id" style="background: #e0e1e5" class="td-textarea" placeholder="Toot toot..." v-model="$root.comment"></textarea>
            <button class="td-button blue" v-on:click="$root.replyToot()">Reply</button>
          </div>
        </div>
        <div v-if="toot.reblog">
          <td-card :toot="toot.reblog" :retoot="toot.account"></td-card>
        </div>
        <div class="td-feed--comments" v-if="toot._comments_after && toot._comments_after.length > 0" >
          <td-card :toot="c" comment="true" v-for="c in toot._comments_after"></td-card>
        </div>
      </div>
    </template>

    <!-- Profile Card Template -->
    <template id="td-profile">
      <div class="td-profile" v-if="profile != null">
        <div class="td-profile--header" v-bind:style="{ 'background-image': 'url(' + profile.header + ')' }"></div>
        <div class="td-profile--avatar">
          <img v-bind:src="profile.avatar"/>
        </div>
        <a v-on:click.stop="$root.viewProfile(profile)" class="td-profile--name" v-html="$root.parseEmoji(profile.display_name, profile.emojis)"></a>
        <p class="td-profile--username">@{{ profile.username }}</p>
        <p class="td-profile--description" v-html="$root.parseEmoji(profile.note, profile.emojis)"></p>
        <div class="td-profile--fields">
          <div class="td-profile--fields_field" v-for="f in profile.fields">
            <h6>{{ f.name }}</h6>
            <p v-html="f.value"></p>
          </div>
        </div>
        <button 
          v-if="$root.app.user_token != null && profile.locked == false" 
          v-bind:class="{ 'blue' : !profile._following }" 
          class="td-button" 
          v-on:click="$root.followProfile(profile)">
          {{ profile._following == true ? 'Unfollow' : 'Follow' }}
        </button>
      </div>
    </template>
    
    <!-- Mastodon API Module -->
    <script type="text/javascript" src="libs/mastodon.api.js"></script>
    <script type="text/javascript" src="/app.js"></script>

  </body>

</html>
