<html>

  <head>
    <link href="/app.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <title>TOOTDECK</title>
  </head>

  <body>

    <div id="app">

      <!-- Add Community Popup -->
      <table class="td-fw" v-if="popup.add">
        <tr>
          <td>
            <div class="td-popup--splash" v-on:click="popup.add = false"></div>
            <div class="td-popup" v-on:click.stop="">
              <h1>Add Community</h1>
              <p>
                Here you can add a community!
                <br/><br/>
                Don't know where to start? You can find a list of communities <a href="https://joinmastodon.org/communities" target="_blank">here</a>.
              </p>
              <br/>
              <input style="margin-right: 10px" v-model="$root.instance" class="td-input"/>
              <button class="td-button blue" v-on:click="addApp()">Add</button>
            </div>
          </td>
        </tr>
      </table>

      <!-- Media Popup -->
      <table class="td-fw" v-if="popup.media">
        <tr>
          <td>
            <div class="td-popup--splash" v-on:click="popup.media = false"></div>
            <div class="td-popup full" v-on:click="popup.media = false">
              <div class="td-media" v-if="preview_media.type == 'image'" v-bind:data-sensitive="preview_media.sensitive" v-bind:style="{ 'background-image': 'url(' + preview_media.url + ')' }"></div>
              <video data-type="audio" v-if="preview_media.type == 'audio'" controls>
                <source v-bind:src="preview_media.url">
              </video>
              <video data-type="gif" v-if="preview_media.type.indexOf('gif') != -1" autoplay loop>
                <source v-bind:src="preview_media.url">
              </video>
            </div>
          </td>
        </tr>
      </table>

      <!-- Community List  -->
      <div v-if="state != 'home'" class="td-sidebar">
        <button class="td-button blue" v-on:click="popup.add = true">Add Community</button>
        <div class="td-sidebar--header">Communities</div>
        <ul class="td-sidebar--menu">
          <li v-for="(a, key) in authenticatedApps" v-bind:data-selected="a.name == community" v-on:click="loadFeed(a, key)">
            <div>
              {{ a.name }}
              <button v-on:click="removeApp(key)"><i class="fa-solid fa-trash"></i></button>
            </div>
            <ul v-if="a.name == community">
              <li v-bind:data-selected="feed_type == 'home'" v-on:click="feed_type = 'home'; setFeed()">
                <i class="fa-solid fa-user-group"></i>&nbsp;following
              </li>
              <li v-bind:data-selected="feed_type == 'public'" v-on:click="feed_type = 'public'; setFeed()">
                <i class="fa-solid fa-house"></i>&nbsp;public
              </li>
              <li v-bind:data-selected="feed_type == 'global'" v-on:click="feed_type = 'global'; $setFeed()">
                <i class="fa-solid fa-globe"></i>&nbsp;federated
              </li>
            </ul>
          </li>
        </ul>
        <div class="td-sidebar--header">Public</div>
        <ul class="td-sidebar--menu">
          <li v-for="(a, key) in unAuthenticatedApps" v-bind:data-selected="a.name == community" v-on:click="loadFeed(a, key)">
            {{ a.name }}
            <button v-on:click="removeApp(key)"><i class="fa-solid fa-trash"></i></button>
          </li>
        </ul>
      </div>

      <!-- Top bar -->
      <div v-if="state != 'home'" class="td-header">
        <div class="td-header--logo">
          <img src="/logo.png" title="TOOTDECK"/>
        </div>
        <img v-if="app.user_token != null" v-on:click="viewProfile(me)" class="td-header--icon" v-bind:src="me.avatar"/>
        <button v-bind:class="{ 'blue' : notifications.length > 0 }" v-if="app.user_token != null" class="td-button--icon">
          <i class="fa-solid fa-bell"></i>
        </button>
        <input v-if="app.user_token != null" class="td-input td-header--search" placeholder="Search..."/>
      </div>

      <!-- Content -->
      <div class="td-content">
        <router-view></router-view>
      </div>

      <!-- Info -->
      <div class="td-info">
        <p v-on:click="popup.info = true">TOOTDECK v0.1 - Planned Shit</p>
      </div>
      <table class="td-fw" v-if="popup.info">
        <tr>
          <td>
            <div class="td-popup--splash" v-on:click="popup.info = false"></div>
            <div class="td-popup" v-on:click.stop="">
              <h1>TODO</h1>
              <p>I'll be putting this project up on Github soon if you wanna contrib!</p>
<pre>
Toots
[-] Content warnings + spoilers
[-] Polls (see/vote/post)
[-] Attachments
[-] Delete toot/reply
[-] Alt text for images (media.description)

Profile
[-] "My" Profile pages
[-] Followers / Following / Posts
[-] Pinned Toots? (/api/v1/accounts/:id/pin)
[-] "More toots pls" for profiles
[-] don't show follow on urself u eejit

General
[-] shorten fav/boost/comment to k/m if over 999
[-] Show "My" notifications somewhere

Search
[-] search results + filters

Communities
[-] Notifications per community
[-] reorder communities on LHS
[-] set "default" landing community

Federation
[-] Boost/comment/follow using different accounts
</pre>
            </div>
          </td>
        </tr>
      </table>

    </div>
    
    <!-- Home Page -->
    <template id="home-page">
      <div class="td-splash"></div>
      <table class="td-fw">
        <tr>
          <td>
            <div class="td-popup">
              <p>
                Welcome to TootDeck, an open source web client for Mastoden making it easy for both new and seasoned tooters alike to managed all their favourite communities in one place.
                <br/><br/>
                To get started, add a community - if you're not sure where to start, you can find a list of popular communities <a href="https://joinmastodon.org/communities" target="_blank">here</a>.
              </p>
              <br/>
              <input style="margin-right: 10px" class="td-input" v-model="$root.instance" placeholder="Enter a Mastodon URL..."/>
              <button class="td-button blue" v-on:click="$root.addApp()">Let's Go!</button>
            </div>
          </td>
        </tr>
      </table>
    </template>
    
    <!-- About Page -->
    <template id="about-page">
      <div>About</div>
    </template>
    
    <!-- Toot Page -->
    <template id="toot-page">
      <div class="td-feed profile">
        <div class="td-feed--options">
          <td-profile :profile="$root.profile"></td-profile>
        </div>
        <div class="td-feed--post">
          <td-card v-if="$root.toot != null" :toot="$root.toot" :comment="false" :selected="true"></td-card>
        </div>
      </div>
    </template>
    
    <!-- Profile Page -->
    <template id="profile-page">
      <div class="td-feed profile">
        <div class="td-feed--options">
          <td-profile :profile="$root.profile"></td-profile>
        </div>
        <div v-if="$root.profile_toots.length > 0" class="td-feed--post" v-for="f in $root.profile_toots">
          <td-card :toot="f" comment="false"></td-card>
        </div>
      </div>
    </template>
    
    <!-- Search Page -->
    <template id="search-page">
      <div class="td-results">
        Search page here
      </div>
    </template>

    <!-- Feed Page -->
    <template id="feed-page">

      <table class="td-fw" v-if="$root.popup.authorize">
        <tr>
          <td>
            <div class="td-popup--splash" v-on:click="$root.popup.authorize = false"></div>
            <div class="td-popup" v-on:click.stop="">
              <h1>Authorizing</h1>
              <p>Please authenticate TootDeck in the window that opened, then enter the Authentication Code it gives you below.</p>
              <br/>
              <input style="margin-right: 10px" v-model="$root.code" class="td-input"/>
              <button class="td-button blue"t v-on:click="$root.authUser()">Authenticate</button>
            </div>
          </td>
        </tr>
      </table>

      <div class="td-feed">

        <div class="td-feed--options" v-if="!$root.errors.not_public">
          <div class="td-tooting">
            <div v-if="$root.app.user_token != null">
              <textarea style="margin-bottom: 10px; background: white" v-model="$root.status" class="td-textarea" placeholder="Toot toot!"></textarea>
              <button class="td-button blue" v-on:click="$root.sendToot()">Toot!</button>
            </div>
            <div v-if="$root.app.user_token == null">
              <p style="margin-bottom: 10px;">
                {{ $root.errors.not_public == true ? 'Feed not public.' : 'Viewing public feed.'  }}
                <br/><br/>
                {{ $root.errors.not_public == true ? 'Login to view feed!' : 'Login to interact with this community.'  }}
              </p>
              <button style="float: right" class="td-button blue" v-on:click="$root.loginUser()">Login</button>
            </div>
          </div>
          <div class="td-trends" v-if="$root.trends.length > 0">
            <h2>Trending</h2>
            <div v-for="t in $root.trends">
              <a v-on:click.stop="$root.searchTag(t.name)">#{{ t.name }}</a> - <span>{{ t.history[0].uses }} toots</span>
            </div>
          </div>
        </div>

        <div v-if="$root.errors.not_public" class="td-feed--message">
          <p>{{ $root.app.name }} does not have a public feed. You must create an account to view this community then authenticate it with TootDeck.</p><br/>
          <button class="td-button dark" v-on:click="$root.createAccount()">Create Account</button>
          <button class="td-button blue" v-on:click="$root.loginUser()" style="margin-left: 10px">Login</button>
        </div>

        <div class="td-loading" v-if="$root.loading.feed == true && !$root.errors.not_public">
          <p>Loading feed...</p>
        </div>
        
        <div class="td-loading" v-if="$root.toots.length == 0 && $root.loading.feed == false && $root.feed_type == 'home' && !$root.errors.not_public">
          You're not following anyone!
        </div>
        <div v-if="$root.toots.length > 0" class="td-feed--post" v-for="f in $root.toots">
          <td-card :toot="f" comment="false"></td-card>
        </div>
        <div v-if="$root.toots.length > 0">
          <button class="td-button blue" v-on:click="$root.loadMore()">More toots pls</button>
        </div>

      </div>

    </template>

    <!-- Toot Card Template -->
    <template id="td-card">
      <div>
        <div class="td-feed--comments" v-if="toot._comments_before && toot._comments_before.length > 0" >
          <td-card :toot="c" comment="true" v-for="c in toot._comments_before"></td-card>
        </div>
        <div v-if="!toot.reblog" class="td-feed--post_card" v-bind:data-full="selected" v-on:click="$root.viewToot(toot)">
          <div v-if="retoot" class="td-feed--post_retoot">
            <span v-html="$root.parseEmoji(retoot.display_name, retoot.emojis)"></span>
            &nbsp;<i class="fa-solid fa-retweet"></i>&nbsp;
            <span v-html="$root.parseEmoji(toot.account.display_name, toot.account.emojis)"></span></div>
          <img v-bind:src="toot.account.avatar"/>
          <h3 class="td-feed--post_author">
            <a v-on:click.stop="$root.viewProfile(toot.account)" v-html="$root.parseEmoji(toot.account.display_name, toot.account.emojis)"></a>
            <span v-on:click.stop="$root.viewProfile(toot.account)">({{ toot.account.acct }})</span>
          </h3>
          <div class="td-feed--post_body" v-html="$root.parseBody(toot)"></div>
          <div v-if="toot.media_attachments.length > 0" class="td-feed--post_attachments" v-bind:data-multiple="toot.media_attachments.length > 0">
            <span v-on:click.stop="$root.previewMedia(m)" v-for="m in toot.media_attachments">
              <img v-if="m.type == 'image'" v-bind:data-sensitive="toot.sensitive" v-bind:src="m.url"/>
              <video data-type="audio" v-if="m.type == 'audio'" controls>
                <source v-bind:src="m.url">
              </video>
              <video data-type="gif" v-if="m.type.indexOf('gif') != -1" autoplay loop>
                <source v-bind:src="m.url">
              </video>
            </span>
          </div>
          <div v-if="toot.card" class="td-feed--post_embed" v-html="toot.card.html"></div>
          <div class="td-feed--post_line"></div>
          <div class="td-feed--post_timestamp">
            Tooted {{ $root.formatDate(toot.created_at) }} 
            <span v-if="toot.application">
              <span v-if="toot.application.website">
                via <a v-on:click.stop="" v-bind:href="toot.application.website" target="_blank">{{ toot.application.name }}</a>
              </span>
              <span v-if="!toot.application.website">
                via {{ toot.application.name }}
              </span>
            </span>
          </div>
          <div class="td-feed--post_actions">
            <button v-bind:data-selected-c="toot._comment" v-on:click.stop="$root.setComment(toot)"><i class="fa-solid fa-comment"></i>&nbsp;{{ toot.replies_count }}</button>
            <button v-bind:disabled="$root.app.user_token == null" v-bind:data-selected-h="toot.reblogged" v-on:click.stop="$root.boostToot(toot)"><i class="fa-solid fa-retweet"></i>&nbsp;{{ toot.reblogs_count }}</button>
            <button v-bind:disabled="$root.app.user_token == null" v-bind:data-selected-h="toot.favourited" v-on:click.stop="$root.likeToot(toot)"><i class="fa-solid fa-heart"></i>&nbsp;{{ toot.favourites_count }}</button>
          </div>
          <div v-on:click.stop="" v-show="toot._comment == true" class="td-feed--post_comment">
            <textarea v-bind:id="'textarea-' + toot.id" style="background: #e0e1e5" class="td-textarea" placeholder="Toot toot..." v-model="$root.comment"></textarea>
            <button class="td-button blue" v-on:click="$root.replyToot()">Reply</button>
          </div>
        </div>
        <div v-if="toot.reblog">
          <td-card :toot="toot.reblog" :retoot="toot.account"></td-card>
        </div>
        <div class="td-feed--comments" v-if="toot._comments_after && toot._comments_after.length > 0" >
          <td-card :toot="c" comment="true" v-for="c in toot._comments_after"></td-card>
        </div>
      </div>
    </template>

    <!-- Profile Card Template -->
    <template id="td-profile">
      <div class="td-profile" v-if="profile != null">
        <div class="td-profile--header" v-bind:style="{ 'background-image': 'url(' + profile.header + ')' }"></div>
        <div class="td-profile--avatar">
          <img v-bind:src="profile.avatar"/>
        </div>
        <a v-on:click.stop="$root.viewProfile(profile)" class="td-profile--name" v-html="$root.parseEmoji(profile.display_name, profile.emojis)"></a>
        <p class="td-profile--username">@{{ profile.username }}</p>
        <p class="td-profile--description" v-html="$root.parseEmoji(profile.note, profile.emojis)"></p>
        <div class="td-profile--fields">
          <div class="td-profile--fields_field" v-for="f in profile.fields">
            <h6>{{ f.name }}</h6>
            <p v-html="f.value"></p>
          </div>
        </div>
        <button 
          v-if="$root.app.user_token != null && profile.locked == false" 
          v-bind:class="{ 'blue' : !profile._following }" 
          class="td-button" 
          v-on:click="$root.followProfile(profile)">
          {{ profile._following == true ? 'Unfollow' : 'Follow' }}
        </button>
      </div>
    </template>
    
    <!-- Mastodon API Module -->
    <script type="text/javascript">
      var $Mastodon = (function() {

        // request helper
        var _request = function(method, url, params, headers, data, callback) {
          var req = new XMLHttpRequest();
          req.onreadystatechange = function() {
            if (req.readyState == 4) {
              if (req.status == 200) {
                var data = JSON.parse(req.response);
                console.log(url, data);
                callback(null, data);
              } else {
                console.error(req);
                console.error(req.response);
                callback(req.response, null);
              }
            }
          }
          if (params != null) {
            var parameters = '?';
            for (var p in params) {
              parameters += p + '=' + encodeURIComponent(params[p]) + '&';
            }
            url += parameters;
          }
          console.log('Sending:', method, url);
          req.open(method, url, true);
          if (headers != null) {
            for (var h in headers) {
              req.setRequestHeader(h, headers[h]);
            }
          }
          req.send(JSON.stringify(data));
        }

        return {

          // open authorise window for a given instance
          authoriseUser: function(base_url, client_id) {
            var url = base_url + '/oauth/authorize?' +
              'response_type=code&' +
              'client_id=' + client_id + '&' +
              'redirect_uri=urn:ietf:wg:oauth:2.0:oob&' +
              'scope=read write follow push';
            window.open(url);
          },

          // get a token for a given instance + client
          obtainToken: function(base_url, authorization_code, client_id, client_secret, callback) {
            _request('POST', base_url + '/oauth/token', {
              grant_type: 'authorization_code',
              code: authorization_code,
              client_id: client_id,
              client_secret: client_secret,
              redirect_uri: 'urn:ietf:wg:oauth:2.0:oob'
            }, {}, null, callback);
          },

          // get the public timeline for a given instance
          getPublicTimeline: function(base_url, user_token, feed_type, callback) {
            var feed = feed_type == 'global' ? 'public' : feed_type;
            _request('GET', base_url + '/api/v1/timelines/' + feed, {
              local: feed_type == 'global' ? false : true,
              limit: 50
            }, {
              Authorization: 'Bearer ' + user_token
            }, null, callback);
          },

          // gets MORE of the public timeline for a given instance using last toot we have
          getMorePublicTimeline: function(base_url, user_token, feed_type, last_toot, callback) {
            _request('GET', base_url + '/api/v1/timelines/' + feed_type, {
              local: true,
              max_id: last_toot,
              limit: 50
            }, {
              Authorization: 'Bearer ' + user_token
            }, null, callback);
          },

          // load timeline of a given account
          getProfileTimeline: function(base_url, profile_id, user_token, callback) {
            _request('GET', base_url + '/api/v1/accounts/' + profile_id + '/statuses', null, {
              Authorization: 'Bearer ' + user_token
            }, null, callback);
          },

          // follow a profile
          followProfile: function(base_url, profile_id, user_token, callback) {
            _request('POST', base_url + '/api/v1/accounts/' + profile_id + '/follow', null, {
              Authorization: 'Bearer ' + user_token
            }, null, callback);
          },

          // unfollow a profile
          unfollowProfile: function(base_url, profile_id, user_token, callback) {
            _request('POST', base_url + '/api/v1/accounts/' + profile_id + '/unfollow', null, {
              Authorization: 'Bearer ' + user_token
            }, null, callback);
          },

          // create a new application for the user to access with
          createApp: function(base_url, callback) {
            _request('POST', base_url + '/api/v1/apps', {
              client_name: "tootdeck",
              redirect_uris: "urn:ietf:wg:oauth:2.0:oob",
              scopes: "read write follow push",
              website: "https://tootdeck.app"
            }, {}, null, callback);
          },

          // send a toot, text atm
          sendToot: function(base_url, status, user_token, callback) {
            _request('POST', base_url + '/api/v1/statuses', {
              status: status
            }, {
              Authorization: 'Bearer ' + user_token
            }, null, callback);
          },

          // reply to a toot
          replyToot: function(base_url, status, toot_id, user_token, callback) {
            _request('POST', base_url + '/api/v1/statuses', {
              status: status,
              in_reply_to_id: toot_id
            }, {
              Authorization: 'Bearer ' + user_token
            }, null, callback);
          },

          // load the data for a specific toot
          loadToot: function(base_url, toot_id, user_token, callback) {
            _request('GET', base_url + '/api/v1/statuses/' + toot_id, {}, {
              Authorization: 'Bearer ' + user_token
            }, null, callback);
          },

          // load the replies for a specific toot
          loadContext: function(base_url, toot_id, user_token, callback) {
            _request('GET', base_url + '/api/v1/statuses/' + toot_id + '/context', {}, {
              Authorization: 'Bearer ' + user_token
            }, null, callback);
          },

          // verify app token
          verifyToken: function(base_url, token, callback) {
            _request('GET', base_url + '/api/v1/accounts/verify_credentials', null, {
              Authorization: 'Bearer ' + token
            }, null, callback);
          },

          // favourite a toot
          favouriteToot: function(toot_id, base_url, user_token, callback) {
            _request('POST', base_url + '/api/v1/statuses/' + toot_id + '/favourite', null, {
              Authorization: 'Bearer ' + user_token
            }, null, callback);
          },

          // load a profile
          loadProfile: function(base_url, account_id, user_token, callback) {
            _request('GET', base_url + '/api/v1/accounts/' + account_id, null, {
              Authorization: 'Bearer ' + user_token
            }, null, callback);
          },

          // favourite a toot
          unfavouriteToot: function(toot_id, base_url, user_token, callback) {
            _request('POST', base_url + '/api/v1/statuses/' + toot_id + '/unfavourite', null, {
              Authorization: 'Bearer ' + user_token
            }, null, callback);
          },

          // boost a toot
          boostToot: function(toot_id, base_url, user_token, callback) {
            _request('POST', base_url + '/api/v1/statuses/' + toot_id + '/reblog', null, {
              Authorization: 'Bearer ' + user_token
            }, null, callback);
          },

          // unboost a toot
          unboostToot: function(toot_id, base_url, user_token, callback) {
            _request('POST', base_url + '/api/v1/statuses/' + toot_id + '/unreblog', null, {
              Authorization: 'Bearer ' + user_token
            }, null, callback);
          },

          // check relationship between us and a user
          getRelationship: function(base_url, user_id, user_token, callback) {
            _request('GET', base_url + '/api/v1/accounts/relationships', {
              id: user_id
            }, {
              Authorization: 'Bearer ' + user_token
            }, null, callback);
          },

          // get trends
          getTrending: function(base_url, user_token, callback) {
            _request('GET', base_url + '/api/v1/trends', {}, {
              Authorization: 'Bearer ' + user_token
            }, null, callback);
          },

          // get notifications
          getNotifications: function(base_url, user_token, callback) {
            _request('GET', base_url + '/api/v1/notifications', {}, {
              Authorization: 'Bearer ' + user_token
            }, null, callback);
          }

        }
      }());
    </script>
    <script type="text/javascript" src="/app.js"></script>

  </body>

</html>
